html, body {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

#myInput { 
    display: flex;
    flex-direction: column;
}

#btnStart {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

#hangman {
    display: flex;
    justify-content: center;
    margin-left: 42%;
    margin-right: 40px;
    width: 200px;
    height: 300px;
    border: 1px solid;
}

/* #top-row {
    display: flex;
    flex-direction: row;
} */

#scoreboard {
    display: flex;
    flex-direction: column;
    /* margin-right: 40px;
    margin-left: 40px; */
}

/* #currentWord {
    display: flex;
    flex-direction: row;
} */

#alphabet {
    display: flex;
    justify-content: center;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.letter {
    
    padding: 4px;
}

/* #lettersGuessed {
    display: flex;
    flex-direction: row;
} */

.justify-center {
    display: flex;
    justify-content: center;
}

.letterBtn {
    padding: 10px;
    margin: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}